/**
 * Admin Styles
 */

.beer-info-box__field {
	position: relative;
	margin: 0;
	padding: 1em 0;
}

.beer-info-box__label {
	vertical-align: top;
	margin: 0 0 1em;
}

.beer-info-box__label label {
	display: block;
	font-weight: bold;
	margin: 0 0 3px;
	padding: 0;
}

.beer-text-fields {
	width: 100%;
	padding: 4px 8px;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.4;
}

.beer-info-box__input-wrap {
	position: relative;
}
